<%- include('components/header'); -%>
    <ul class="posts">
        <li class="post-item">
            <img src="/undraw_beach_day_cser.svg" alt="topic icon">
            <h4>Topic 1</h4>
            <p>Description of topic</p>
        </li>
    </ul> 
<%- include('components/footer'); -%>