/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    color: #313131;
    background: #fafafa;
}

nav {
    margin: 10px 40px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    display: block;
    padding: 10px 16px;
    color: #003049;
    font-weight: 600;
}

nav h1 a {
    text-decoration: none;
    color: #003049;
}

.mainheader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAE2B7;
    height: 50%;
}

.btn-start {
    text-decoration: none;
    padding: 10px;
    border-radius: 36px;
    background: #F77F00;
    color: white;
    font-weight: bold;
}

.btn-signup {
    border: 1px solid #003049;
    border-radius: 7px;
}

nav li a:hover {
    color: #F77F00;
}

nav li a.btn-signup:hover {
    border: 1px solid #003049;
    background: #003049;
    color: white;
}

form h2 {
    font-size: 2.4em;
    font-weight: 900;
    margin: 10px 0 20px 0;
}

form {
    width: 450px;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
    background: white;
    display: flex;
    flex-direction: column;
    height: inherit;
}

form input {
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    width: 100%;
}

label {
    display: block;
    margin: 20px 0 10px;
}

form .pwd-detail {
    color: #797979;
    margin-top: 5px;
    font-size: 15px;
}

.button { 
    margin-top: 30px;
    border-radius: 7px;
    background: #F77F00;
    border: 0;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    display: block;
    padding: 10px 16px;
    letter-spacing: 2px;
    cursor: pointer;
    color: white;
}

.button:hover {
    background: #c96800;
    padding: 10px 16px;
}

form div {
    color: #D62828;
    margin: 3px 2px;
    font-size: 0.8em;
    font-weight: bold;
}

.posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 80px;
    margin: 80PX AUTO;
    max-width: 1200px;
}

.post-item {
    display: inline-block;
    border-radius: 20px;
    background: white;
    position: relative;
    text-align: center;
    padding: 0 20px 30px 20px
}

.post-item img {
    width: 100px;
    margin: -30px auto 20px;
}

.footer-container {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

